<div class="container-fluid mt-5">
    <div class="container table-responsive">
        <table class="table table-bordered ">
            <thead>
                <th>ID</th>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                
                <th>Remove</th>
            </thead>
            <tbody *ngFor="let item of cartItems; let i=index;">
                <td>
                   {{i+1}}

                </td>
                <td><img [src]=item.img alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.quantity}} </td>
                
               
              
                <td><button class="btn btn-danger">Delete</button></td>
               
            </tbody>
            <td colspan="4">  </td>
            <td><button class=" btn btn-danger">Empty cart</button></td>
            <td><button class=" btn btn-success" routerLink="/products">Shop More</button></td>
            <td><button class=" btn btn-warning" routerLink="/products">Checkout</button></td>
            <td><strong>Grand Total:{{grandTotal | currency: 'INR': 'symbol': '3.0' }}</strong></td>
        </table>
    </div>
</div>