
    <div class="container-fluid bg mt-4">
       <div class="row">
        <div class="col-md-7">
          
        </div>
        <div class="col-md-4">
            <h1 class="pt-5 pb-2">Finding Your Perfect Shoes
            </h1>
            <p class="pb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.

            </p>
            <button class="btn">Shop Now</button>
        </div>
       </div>
       
    </div>
    <div class="container pt-5">
        
    <div class="row">
        <div class="col-md-4 d-flex">
            <div>
                <i class="bi bi-truck truck-icon"></i>
            </div>
            <div>
                
            <h5>FREE SHIPPING</h5>
            <p class="pe-3 gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.
            </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <i class="bi bi-arrow-clockwise truck-icon"></i>
            </div>
            <div>
                
            <h5>FREE SHIPPING</h5>
            <p class="pe-3 gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.
            </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <i class="bi bi-question-circle-fill truck-icon"></i>
            </div>
            <div>
                
            <h5>FREE SHIPPING</h5>
            <p class="pe-3 gray">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.
            </p>
            </div>
        </div>
    </div>
    </div>