<div class="container-fluid mt-5 mb-5">
    <div class="container">
        <div align="center"> 
            <hr>
        <h1>
            Big Sale!
        </h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="./assets/images/sale.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6 mt" align="center">
                <h1 class="purple">50% less in all items</h1>
                <p>
                    By <span class="purple"> Carl Smith </span> • September 3, 2018
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?
                </p>
                <button class="btn">Shop Now</button>
            </div>
        </div>
    </div>
</div>