hr {
    width: 5%;
    height: 2px;
    color: #7870E7;
    background-color: #7870E7;
    opacity: 1 !important;
    border-radius: 50px;
}
.mt {
     margin-top: 4rem;
}
.btn {
    background-color: #7870E7;
    color: white;
    padding: 10px 40px 10px 40px;

}
p {
    color: #8C9280;
    font-size: 18px;
}
.purple {
    color: #7870E7;
}